@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

$fontMain: "Lexend Deca", sans-serif;
$fontNote: "Inter", sans-serif;
$bgBody: aliceblue;
$bgHeader: #5A464C;
$bgForm: #B5D6B2;
$FormBg: #d3e2d2;
$bgBtn: darkcyan;
$bgBtnHover: #017272;
$bgEdit: #0d6efd;
$bgEditHover: #0b5ed7;
$bgDelete: #dc3545;
$bgDeleteHover: #bb2d3b;
$bgNote: #fff;
$colorHeader: #FFFACC;
$boderForm: #4677;
$boderNote: lightgray;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontMain;
}

body {
    background-color: $bgBody;
}

header {
    background-color: $bgHeader;
    color: $colorHeader;
    padding: 25px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    p {
        font: {
            size: 26px;
            weight: 700;
        }
        cursor: pointer;
    }
}

#open-notes {
    color: $colorHeader;
    text-decoration: none;
    font: {
        size: 23px;
        weight: 700;
    }
}

/* main container */
main {
    width: 85vw;
    margin: auto;
}

/* box container  */
.box {
    display: grid;
    grid-template-columns: 100%;
    padding: 40px 0;
    gap: 40px;
    margin: auto;
}

.content {
    width: 100%;
    background-color: $FormBg;
    padding: 25px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
    border: {
        radius: 15px;
        width: 2px;
        style: solid;
        color: $boderForm;
    }
}

.input {
    width: 100%;
}

#note {
    width: 100%;
    outline: none;
    resize: none;
    padding: 15px;
    border: {
        radius: 12px;
        width: 2px;
        style: solid;
        color: #777;
    }
    font: {
        size: 17px;
        family: monospace;
    }
}

#msg {
    display: none;
    color: tomato;
    font-weight: 500;
}

#btn {
    font-size: 16.5px;
    padding: 9px 20px;
    background-color: $bgBtn;
    color: white;
    /* outline: none; */
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border: {
        radius: 7px;
        style: none;
    }
}

#btn:hover {
    background-color: $bgBtnHover;
}

/* tasks container  */
#tasks {
    display: grid;
    gap: 32px;
    grid-template-columns: 100%;
}

// notes
.note {
    width: 85%;
    height: 190px;
    line-height: 1.35;
    padding: 18px 20px 15px;
    background-color: $bgNote;
    margin: auto;
    border: {
        radius: 8px;
        width: 1px;
        style: solid;
        color: $boderNote;
    }
    font: {
        size: 15.5px;
        family: $fontNote !important;
    }
}

.para {
    font-family: $fontNote !important;
    height: 70%;
    margin-bottom: 8px;
    overflow: auto;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.edit {
    margin-left: 9px;
    font-size: 18px;
    padding: 12px 8.5px;
    background-color: $bgEdit;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transform: rotate(90deg);
    border: {
        radius: 7px;
        style: none;
    }
}

.edit:hover {
    background-color: #0b5ed7;
}

.del {
    padding: 7px 11px;
    background-color: $bgDelete;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border: {
        radius: 7px;
        style: none;
    }
    font: {
        size: 16px;
        family: $fontNote !important;
    }
}

.del:hover {
    background-color: $bgDeleteHover;
}